<div class="container">
        <div class="row mt-3">
            <div class="col-12 col-md-6 offset-md-3 bg-fantastidog-verde  body-fan pt-3">
                <div class="row text-center mb-3">
                    <div class="col"><h4 class="text-dark">Registrar Pedido</h4></div>
                </div>
                <form action="/agregar_pedido" method="POST">
                    <div class="form-group row align-items-center">
                        <span class="col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-paw"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="nombre_mascota" placeholder="Nombre mascota">
                        <span class="offset-md-1 col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-calendar-week"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="edad" placeholder="Edad">  
                    </div>
                    <div class="form-group row align-items-center">
                        <span class="col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-paw"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="nombre_cliente" placeholder="Nombre del cliente">
                        <span class="offset-md-1 col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-calendar-week"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="celular" placeholder="Celular">  
                    </div>
                    <div class="form-group row align-items-center">
                        <span class=" col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-birthday-cake"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="pack" placeholder="Pack">
                        <span class="offset-md-1 col-2 col-md-1 text-center text-dark justify-content-end"><i class="far fa-calendar-alt"></i></span>
                        <input type="date" class="form-control col-9 col-md-4" name="fecha_entrega" placeholder="Fecha entrega">
                    </div>
                    <hr>
                    <div class="form-group row align-items-center">
                        <span class=" col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-birthday-cake"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="modelo_torta" placeholder="Modelo de la Torta">
                        <span class="offset-md-1 col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-democrat"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="tematica" placeholder="Temática">  
                    </div>
                    <div class="form-group row align-items-center">
                         <span class=" col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-drumstick-bite"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="sabor" placeholder="Sabor de la torta">
                        <span class="offset-md-1 col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-hat-wizard"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="gorrito" placeholder="Gorrito">  
                    </div>
                    <hr>
                    <div class="form-group align-items-center row">
                        <span class="col-md-1 col-2 text-dark text-center"><i class="fas fa-allergies"></i></span>
                        <input type="text" name="alergias" placeholder="Alérgias" class="form-control col-md-10 col-9">
                    </div>
                    <div class="form-group row">
                        <span class="col-md-1 col-2 text dark text-center"><i class="fas fa-info-circle"></i></span>
                        <textarea name="detalles" class="form-control col-md-10 col-9" placeholder="Detalles"></textarea>
                    </div>
                    <hr>
                    <div class="form-group row align-items-center">
                        <span class="col-2 col-md-1 text-center text-dark justify-content-end"><i class="fas fa-dollar-sign"></i></span>
                        <input type="text" class="form-control col-9 col-md-4" name="costo" placeholder="Costo">  
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrar pedido" class="btn btn-success btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>